.section-download {
    padding: 90px 0;

    .donwload-heading {
        max-width: 540px;
        margin: 0 auto;
    }

    .download-buttons {
        display: flex;
        justify-content: center;

        &-item {
            border-radius: 10px;
            
        }
    }
}