.section-download {
    padding: 90px 0;

    .download-buttons {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 60px;

        &-item {
            border-radius: 10px;
            margin: 0 17px;
            padding: 40px 25px 25px;
            text-align: center;
            box-shadow: 0 2px 10px 0 rgba($dark-blue, .2);
            position: relative;

            &:nth-child(2) {
                margin-top: 40px;
            }

            &:last-child {
                margin-top: 80px;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 95px;
                left: 0;
                right: 0;
                height: 4px;
                background: url(img/bg-dots.svg);
            }

            h4 {
                margin: 30px 0 5px;
            }

            p {
                font-size: 14px;
                margin-bottom: 60px;
            }

            a {
                padding: 10px 35px;
            }
        }
    }
}