.section-faq {
    padding: 90px 0;

    .faq-accordion {
        max-width: 540px;
        margin: 0 auto;

        &-item {
            border-bottom: 1px solid $grayish-blue;

            &:first-child {
                border-top: 1px solid $grayish-blue;
            }
        }

        &-headline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 0;
            cursor: pointer;

            svg {
                transition: all .3s;
            }

            &:hover {
                color: $soft-red;
            }
        }

        &-active {
            svg {
                transform: rotate(180deg);
                color: $soft-red;
            }
        }
    }
}