.section-features {
    padding-top: 60px;

    .features-heading {
        max-width: 540px;
        margin: 0 auto;
    }

    #tabs-nav {
        margin: 0 auto;
        padding: 0;
        width: auto;
        list-style: none;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $grayish-blue;

        li.active {
            a {
                color: $dark-blue;
            }
        }

        a {
            color: $grayish-blue;
        }
    }
}