.section-features {
    padding: 60px 0;
    overflow: hidden;

    #tabs-nav {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;

        @media (max-width: 767px) {
            flex-direction: column;
            align-items: center;
        }

        li {
            border-bottom: 1px solid $grayish-blue;

            @media (max-width: 767px) {
                width: 100%;
            }

            a {
                display: block;
                color: $grayish-blue;
                padding: 20px 40px;
                border-bottom: 4px solid transparent;
                transition: all .3s;
            }

            &.active {
                a {
                    color: $dark-blue;
                    border-bottom-color: $soft-red;
                }
            }
        }
    }

    #tabs-content {
        padding: 70px 0;
    }

    .tab-content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-text {
            width: 40%;

            p {
                margin-bottom: 30px;
            }
        }

        &-image {
            width: 50%;
            position: relative;
            text-align: right;

            img {
                width: 100%;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -70px;
                right: 15%;
                height: 350px;
                width: 1000px;
                border-bottom-right-radius: 175px;
                border-top-right-radius: 175px;
                background-color: $soft-blue;
                z-index: -1;
            }
        }
    }
}