.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 135px;
    }

    &-navigation {
        padding-right: 100px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
    
            @media (max-width: 767px) {
                display: none;
            }

            li {
                padding: 0 24px;

                &:last-child {
                    padding-right: 0;
                }

                a {
                    text-transform: uppercase;
                }
            }
        }

        .hamburger {
            display: none;

            @media (max-width: 767px) {
                display: block;
            }
        }
    }
}