.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 135px;

        @media (max-width: 767px) {
            height: 100px;
            padding: 0 30px;
        }
    }

    &-navigation {
        padding-right: 100px;

        @media (max-width: 767px) {
            padding-right: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
    
            @media (max-width: 767px) {
                display: none;
            }

            li {
                padding: 0 24px;

                &:last-child {
                    padding-right: 0;
                }

                a {
                    text-transform: uppercase;
                }
            }
        }

        .hamburger {
            display: none;

            @media (max-width: 767px) {
                display: block;
                position: relative;
            }

            i {
                position: absolute;
                top: -20px;
                right: 10px;
            }

            .icon-close {
                opacity: 0;
                transition: opacity .3s;
                will-change: opacity;
            }
        }
    }
}