.sidemenu {
    height: 100vh;
    background-color: rgba($soft-blue, .8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.active {
        display: block;
    }
}