.sidemenu {
    height: 100vh;
    background-color: rgba($soft-blue, 0);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: background-color .3s;
    will-change: background-color;

    &.active {
        display: block;
        background-color: rgba($soft-blue, .8);
    }

    &-navigation {
        margin-top: 105px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                border-bottom: 1px solid $;

                a {
                    text-transform: uppercase;
                }
            }
        }
    }
}