.section-subscribe {
    background-color: $soft-blue;
    color: white;
    padding: 70px 0;

    .subscribe-form {
        max-width: 440px;
        margin: 0 auto;

        h6 {
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        #subscribe-form {
            display: flex;
            justify-content: stretch;
        }

        .form-field {
            position: relative;
            width: 65%;
            margin-right: 15px;

            input {

                &.error {
                    border-color: $soft-red;
                }
            }

            label {
                position: absolute;
                bottom: -18px;
                display: block;
                background-color: $soft-red;
                font-style: italic;
                font-size: 12px;
                color: white;
            }
        }
    }
}