.section-subscribe {
    background-color: $soft-blue;
    color: white;
    padding: 70px 0;

    .subscribe-form {
        max-width: 540px;
        margin: 0 auto;

        h5 {
            letter-spacing: 2px;
        }
    }
}