.section-subscribe {
    background-color: $soft-blue;
    color: white;
    padding: 70px 0;

    .subscribe-form {
        max-width: 440px;
        margin: 0 auto;

        h6 {
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .form-field {
            display: flex;
            justify-content: stretch;

            input {
                width: 65%;
                margin-right: 15px;
            }
        }
    }
}