/*  BUTTONS  */
.btn {
  max-width: 100%;
  line-height: 48px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .2s;
  font-size: 14px;
  height: 48px;
  padding: 0 25px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;

  @media (max-width: 580px) {
    width: 100%;
    padding: 0 20px;
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      background-color: transparent;
      text-decoration: none;
    }
  }

  &:disabled {
    cursor: default;
  }


  &-red {
    border-color: $soft-red;
    background-color: $soft-red;
    color: white;

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        background-color: white;
        color: $soft-red;
      }
    }

    &:disabled {
      border-color: transparent;
      background-color: var(--global-color-primary-disable);
      color: var(--global-color-white);
    }
  }

  &-style-2 {
    border-color: var(--global-color-white);
    background-color: var(--global-color-white);
    color: var(--global-color-black);

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        background-color: var(--global-color-secondary);
        border-color: var(--global-color-grey2);
        color: var(--global-color-white);
      }
    }

    &:disabled {
      border-color: var(--global-color-secondary);
      background-color: var(--global-color-black);
      color: var(--global-color-secondary);
    }
  }

  &-style-3 {
    border-color: var(--global-color-black);
    background-color: var(--global-color-white);
    color: var(--global-color-black);

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        background-color: var(--global-color-grey2);
        color: var(--global-color-black);
      }
    }

    &:disabled {
      border-color: var(--global-color-secondary);
      background-color: var(--global-color-white);
      color: var(--global-color-secondary);
    }
  }
}

/* Social links */
.socials {
  list-style-type: none;
  padding: 0;
  margin: 0 0 -14px 0;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 14px;
    padding-bottom: 14px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    transition: .3s all;
    font-size: 18px;
    
    &:hover {
      @media (hover: hover) and (pointer: fine) {
        color: var(--global-color-primary);
        border-color: var(--global-color-primary);
        path {
          fill: var(--global-color-primary);
        }
      }
    }
    path {
      transition: .3s all;
    }
  }
}

/* Hover Style */
a {
  transition: color .3s;
  will-change: color;

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      color: $soft-red;
    }
  }
}