:root {

  /* The variables below copying the current list of global variables */
 --global-primary-font-family: 'Rubik', sans-serif;
 --global-body-padding: 20px;
 --global-background-color: #000000;
 --global-body-font-size: 16px;
 --global-h1-font-size: 60px;
 --global-h2-font-size: 48px;
 --global-h3-font-size: 34px;
}