:root {
 --global-primary-font-family: 'Rubik', sans-serif;
 --global-body-padding: 20px;
 --global-body-font-size: 18px;
 --global-h1-font-size: 60px;
 --global-h2-font-size: 48px;
 --global-h3-font-size: 34px;
}